{% load core_filters %}
<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>{{course.name}}</span>
    </a>
    <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Course Links:</h6>
            <a class="collapse-item" href="{% url 'course_home' course_guid=course.guid %}">Home Page</a>
            {% with course.course_pages_ordered.all|first as page %}
            <!-- first page for now. Should look at view history and go to last seen page -->
            <a class="collapse-item" href="{% url 'course_page' page_guid=page.guid %}">Course Content</a>
            {% endwith %}
            {% for test_instance in course.course_tests_ordered %}
            <!-- right now brings to practice test home, should route to question student is on when tracking there -->
            {% if test_instance.allow_practice_tests %}
            <a class="collapse-item" href="{% url 'course_practice_test_home' test_guid=test_instance.guid %}">
            	Practice Test - {{test_instance.order}}
            </a>
            {% endif %}
            {% endfor %}
            <!-- right now brings to test home, should route to question student is on when tracking there -->
            {% for test_instance in course.course_tests_ordered %}
            {% if not test_instance.only_practice_test %}
            <a class="collapse-item" href="{% url 'course_test_home' test_guid=test_instance.guid %}">
            	Test - {{test_instance.order}}
            </a>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    {% if course|course_recent_url_history:request.student %}
    <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Course History:</h6>
            {% for history in course|course_recent_url_history:request.student %}
            <a class="collapse-item" href="{{history.url}}">{{history.title}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if course_view_instance and course_view_instance.enforce_minimum_time %} 
        {% if course_view_instance.read_time_remaining_seconds %}
        <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Time Remaining:</h6>
                <a id="timer" class="collapse-item" href="#"></a>
            </div>
        </div>
        {% else %}
        <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Reading Complete</h6>
        </div>
    </div>
        {% endif %}
    {% endif %}

    
</li>
{% block left_nav_js %}
{% if course_view_instance and course_view_instance.enforce_minimum_time and course_view_instance.read_time_remaining_seconds %}
<script type="text/javascript">
    var total_seconds = {{course_view_instance.read_time_remaining_seconds}} + 1;
    function update_time_display(){
        total_seconds = total_seconds - 1;
        if (total_seconds < 0){
            total_seconds = 0;
        }
        var display_string = new Date(total_seconds * 1000).toISOString().substr(11, 8);
        document.getElementById("timer").innerHTML = display_string;
    }
    update_time_display();
    {% if page_view_instance.credit_page_view_time %}
    setInterval(update_time_display,1000);
    {% endif %}
</script>
{% endif %}
{% endblock %}


