{% extends "dashboard_base.html" %}
{% load i18n %}

{% block extra_left_nav %}
{% include 'course_leftnav.html' %}
{% endblock %}

{% block content %}
<div class="question_content overflow-auto">
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">{{question.question_contents}}</div>
		<div class="col-2">
		</div>
	</div>
</div>
<div class="answer_form overflow-auto">
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<form method="POST" action=".">
				{% csrf_token %}
				{{question.question_form}}
				<input type="submit" class="btn btn-primary">
			</form>
		</div>
		<div class="col-2">
		</div>
	</div>
</div>

{% if question.answer_instance %}
{{question.answer_instance.value}}
{% endif %}


<div class="row">
	<div class="col-2">
		{% if question.previous_instance_url %}
		<a class="btn btn-secondary" href="{{question.previous_instance_url}}">Previous Question</a>
		{% endif %}
	</div>
	<div class="col-8"></div>
	<div class="col-2">
		{% if question.next_instance_url %}
		<a class="btn btn-secondary" href="{{question.next_instance_url}}">Next Question</a>
		{% endif %}
	</div>
</div>
{% endblock %}
