{% extends "dashboard_base.html" %}
{% load i18n %}

{% block extra_left_nav %}
{% include 'live_test_leftnav.html' %}
{% endblock %}

{% block content %}
<div class="question_content overflow-auto text-center">
	<h2><b>Live Test {{course_test.order}}</b></h2>
	<hr/>
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<p>This Test will determine whether or not you pass the course.</p>
			<p>You need to score at least a <b>{{course_test_instance.passing_percentage}}%</b> to pass</p>
			<p>This means you need at least <b>{{course_test_instance.minimum_questions_to_pass}}</b> correct
			answers out of <b>{{course_test_instance.total_number_of_questions}}</b> to pass.</p>
			<p><i>You cannot leave this test until it is complete{% if course_test_instance.test_is_timed %} or time has expired{% endif %}</i></p>
		</div>
		<div class="col-2">
		</div>
	</div>
	{% if course_test_instance.test_is_timed %}
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<p><b>This is a timed test.</b> You have <b>{{course_test_instance.time_limit}}</b> to complete
			the test. The time will start when you press Start Test.</p>
		</div>
		<div class="col-2">
		</div>
	</div>
	{% endif %}
</div>
<hr/>
<div class="question_content overflow-auto text-center">
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-4">
			{% if course_test_instance.is_complete %}
			<a class="btn btn-primary btn-user btn-block" href="{% url 'test_final_score' test_instance_guid=course_test_instance.guid %}">
				 Final Score
			</a>
			{% else %}
			<a href="{{beginning_url}}" class="btn btn-primary btn-user btn-block"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;&nbsp;{% if course_test_instance.test_started_on %}Continue Test{% else %}Start Test{% endif %}</a>
			{% endif %}
		</div>
		<div class="col-4"><a class="btn btn-secondary btn-block" href="{% url 'course_home' course_guid=course.guid %}"><i class="fa-solid fa-backward"></i>&nbsp;&nbsp;&nbsp;Course Home</a></div>
		<div class="col-2">
		</div>
	</div>
</div>


{% endblock %}