{% load core_filters %}
<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>{{course.name}}</span>
    </a>
    <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Course Links:</h6>
            <a class="collapse-item" href="{% url 'course_home' course_guid=course.guid %}">Home Page</a>
            {% with course.course_pages_ordered.all|first as page %}
            <!-- first page for now. Should look at view history and go to last seen page -->
            <a class="collapse-item" href="{% url 'course_page' page_guid=page.guid %}">Readings</a>
            {% endwith %}
            {% for test_instance in course.course_tests_ordered %}
            <!-- right now brings to practice test home, should route to question student is on when tracking there -->
            {% if test_instance.allow_practice_tests %}
            <a class="collapse-item" href="{% url 'course_practice_test_home' test_guid=test_instance.guid %}">
            	Practice Test - {{test_instance.order}}
            </a>
            {% endif %}
            {% endfor %}
            <!-- right now brings to test home, should route to question student is on when tracking there -->
            {% for test_instance in course.course_tests_ordered %}
            {% if not test_instance.only_practice_test %}
            <a class="collapse-item" href="{% url 'course_test_home' test_guid=test_instance.guid %}">
            	Test - {{test_instance.order}}
            </a>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    {% if course|course_recent_url_history:request.student %}
    <div class="collapse show collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Course History:</h6>
            {% for history in course|course_recent_url_history:request.student %}
            <a class="collapse-item" href="{{history.url}}">{{history.title}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
</li>

