{% extends "dashboard_base.html" %}
{% load i18n %}

{% block content %}
<form action="{% url 'student_home'%}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save Changes">
</form>
{% for document_form in document_forms %}
<br/>
<br/>
<br/>
<form action="{% url 'student_document_upload' document_guid=document_form.instance.guid_string %}"
	 method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{document_form}}
	<input type="submit" value="Upload">
</form>
{% endfor %}


{% endblock %}
