{% extends "dashboard_base.html" %}
{% load i18n %}
{% load core_filters %}
{% block content %}
{% if available_courses.count == 0 %}
<h2>No available courses have been published at this time. Please check back later.</h2>
{% else %}
<h2>Choose one of the available courses below</h2>
<br/>
<br/>
<br/>
{% endif %}

{% for course in available_courses %}
{% if forloop.counter|modulus:4 == 1 %}

<div class="row">
{% endif %}
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        {{course.name}}
                    </div>
                    {% if course|course_continue_url:request.student %}
                    <a href="{{course|course_continue_url:request.student }}" class="btn btn-primary btn-user btn-block">
                        <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;&nbsp;Continue Course
                    </a>
                    {% else %}
                    <a class="btn btn-secondary btn-user btn-block" href="{% url 'course_home' course_guid=course.guid %}">
                    	 <i class="fa-solid fa-play"></i>&nbsp;&nbsp;&nbsp;Course Homepage
                    </a>
                    {% endif %}
                    <!-- need to add additional continue button here when tracking is there for it -->
                    <!-- need to add course complete and cert button when implemented -->
                </div>
            </div>
        </div>
    </div>
</div>
{% if forloop.counter|modulus:4 == 0 or forloop.last %}
</div> <!-- end row -->
{% endif %}
{% endfor %}





{% endblock %}
