{% extends "dashboard_base.html" %}
{% load i18n %}

{% block extra_left_nav %}
{% include 'course_leftnav.html' %}
{% endblock %}

{% block content %}

<div class="question_content overflow-auto text-center">
	<h2><b>{% if instance.is_practice %}Practice {% endif %}Test {{instance.course_test.order}}</b></h2>
	<hr/>
	<div class="row">
		<div class="col-2"><p>Final Score</p></div>
		<div class="col-4">{{instance.number_of_correct_answers}} correct out of {{instance.total_number_of_questions}} questions</div>
		<div class="col-4">{{instance.test_score_percent}}%</div>
		<div class="col-2">
		</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			{% if instance.test_passed %}
			<div class="alert alert-success" role="alert">
			  <i class="fa-regular fa-face-grin-beam"></i> You got a passing score!
			</div>
			{% else %}
			<div class="alert alert-danger" role="alert">
			  <i class="fa-regular fa-face-frown-open"></i> Unfortunately you did not pass
			</div>
			{% endif %}
		</div>
		<div class="col-2"></div>
	</div>
</div>
<hr/>
<div>
	<div class="row text-center">
		<div class="col-12">
			<h2>Question Breakdown</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-1">#</div>
		<div class="col-1"></div>
		<div class="col-4">Question</div>
		<div class="col-2">Your Answer</div>
		<div class="col-2">Correct Answer</div>
		
	</div>
	{% for question in instance.question_instances %}
	
	<div class="row alert alert-{% if question.course_test_answer_instance.is_correct %}success{% else %}danger{% endif %}" role="alert">
		<div class="col-1"></div>
		<div class="col-1">{{ forloop.counter }}</div>
		<div class="col-1"><a class="btn btn-secondary" href="{{question.url}}">Details</a></div>
		<div class="col-4">{{question.course_test_question.question_contents|truncatechars:100}}</div>
		<div class="col-2">{{question.course_test_answer_instance.value}}</div>
		<div class="col-2">{{question.correct_multiple_choice_answer}}</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
