.errorlist li {
	color: red;
}

.intl-tel-input::placeholder{
    font-weight: bold;
    opacity: .5;
    color: #3385ff;
}
.intl-tel-input::-webkit-input-placeholder { /* Edge */
  font-weight: bold;
  opacity: .5;
  color: #3385ff;
}
.intl-tel-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: bold;
  opacity: .5;
  color: #3385ff;
}

.markdown_content {
  min-height: 60vh;
  max-height: 60vh;
}

.question_content {
  min-height: 30vh;
  max-height: 30vh;
}

.answer_form {
  min-height: 30vh;
  max-height: 30vh;
}

.page-navigation-bar {
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.page-navigation-bar > div > a {
  text-decoration: none;
}

/* CSS */
.page-navigation-bar > div > a {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.page-navigation-bar > div > a:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.page-navigation-bar > div > a:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.page-navigation-bar > div > a:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.page-navigation-bar > div > a:focus {
  outline: 1px transparent;
}

.page-navigation-bar > div > a:before {
  display: none;
}

.page-navigation-bar > div > a:-webkit-details-marker {
  display: none;
}