{% extends "external_base_2_column.html" %}
{% load i18n %}

{% block right_column %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">{% trans "Register An Account" %}</h1>
</div>
<form class="user" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        {{ form.first_name.errors }}
        {{ form.first_name }}
    </div>
    <div class="form-group">
        {{ form.last_name.errors }}
        {{ form.last_name }}
    </div>
    <div class="form-group">
        {{ form.email.errors }}
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.password1.errors }}
        {{ form.password1 }}
    </div>
    <div class="form-group">
        {{ form.password2.errors }}
        {{ form.password2 }}
    </div>
    <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans 'Register' %}" />
    <hr>
</form>
<hr>
<div class="text-center">
  
    <a class="small" href="{% url 'password_reset' %}">{% trans "Forgot password" %}?</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'login' %}">{% trans "Already have an account? Login" %}!</a>
</div>
{% endblock %}                    